@{
    ViewData["Title"] = "Company Create Page";
}
@model Company
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="test">Add Company</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form class="" method="post">
            @* <div asp-validation-summary="ModelOnly"></div> *@
            <div class="form-floating py-2 col-12">
                <input asp-for="Name" type="text" class="form-control border-0 shadow" />
                <label asp-for="Name" class="ms-2"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="StreetAddress" type="text" class="form-control border-0 shadow" />
                <label asp-for="StreetAddress" class="ms-2"></label>
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="City" type="text" class="form-control border-0 shadow" />
                <label asp-for="City" class="ms-2"></label>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="State" type="text" class="form-control border-0 shadow" />
                <label asp-for="State" class="ms-2"></label>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="PostalCode" type="text" class="form-control border-0 shadow" />
                <label asp-for="PostalCode" class="ms-2"></label>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Phone" type="text" class="form-control border-0 shadow" />
                <label asp-for="Phone" class="ms-2"></label>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn-block btn-primary form-control">
                        Add
                    </button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Company" asp-action="Index" class="btn btn-outlilne-primary border form-control">
                        Back to List
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}